
.auth-modal {
    position: absolute;
    background-color: blue;
    margin: 0 auto;
    z-index: 5;
    width: 35vw;
    height: 75%;
    left: 50vw;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -13%;
    border-radius: 3px;

    .auth-div{
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        background: linear-gradient(to right bottom, rgba(0, 246, 209, 0.8) , rgba(43, 159, 236, 1), rgba(47,70,228,1), rgba(78,50,241,1));  
    }
    
}

.register-div, .login-div {
    position: relative;
    top: 10%;
    .title {
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .tagline {
        color: #ffffff;
        text-align: center;
        font-size: 15px;
        font-style: italic;
    }
    .input-container {
        text-align: center;
        margin-top: 6%;

        .input-error-div {
            position: absolute;
            z-index: 2;
            text-align: right;
            width: 70%;
            margin: 0 auto;
            color: #ff2400;
            font-size: 1.7vh;
            left: 50%;
            transform: translate(-50%, -100%);
            text-align: right;
        }
    }
    input {
        width: 67%;
        background: none;
        margin: 0 auto;
        font-size: 15px;
        color: #ffffff;
        outline: none;
        border: none;
        border-bottom: 1px solid #ffffff;
        padding-left: 10px;
        font-size: 15px;
        padding-bottom: 5px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff;
        opacity: 0.6; /* Firefox */
    }

    i {
        color: #ffffff;
        font-size: 20px;
    }

    button {
        width: 70%;
        height: 50px;
        // border-radius: 25px;
        outline: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 15px;
        background: none;
        text-align: center;
        font-weight: bold;
    }


    .auth-button {
        border-radius: 2px;
        margin: 10px;
        padding: 1em 3em;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 4px 6px rgba(61, 61, 133, 0.11), 0 1px 3px rgba(83, 23, 23, 0.08);
        background-image: linear-gradient(to right,  #57d8f7 0%, #ab8ff8  50%, #57d8f7 100%);
        
        &:hover {
        background-position: right center;
        transition: 0.5s;
        }  
    }

}