.display {
    width: 100vw;
}

.header {
    position: relative;
    top: 20vh;
    left: 45%;
    font-size: 20px;
    color: blue;
    font-weight: 800;
}

.students {
    height: 50vh;
    width: 50vw;
}

ul {
    list-style: none;
    color: #ffffff;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right bottom, #00f6d1cc , rgba(43, 159, 236, 1), rgba(47,70,228,1), rgba(78,50,241,1));  

    .each-student {
        width: 100%
    }
    .headings {
        padding-bottom: 20px;
        color: blue;
        font-style: italic;
        font-weight: 800;
    }
}

.student-name,
.student-subject1,
.student-marks1,
.student-subject2,
.student-marks2 
{
    width: 19.5%;
    display: inline-block;
}